URxvt*scrollBar: false
URxvt*internalBorder: 10
URxvt*letterSpace: 0
URxvt*font: xft:Droid Sans Mono:style=Regular:size=11
URxvt*fontBold: xft:Droid Sans Mono:style=Bold:size=11

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard



Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! special
*.foreground:   #bec7c6
*.background:   #12171a
*.cursorColor:  #bec7c6

! black
*.color0:       #12171a
*.color8:       #5f6964

! red
*.color1:       #4a74b1
*.color9:       #4a74b1

! green
*.color2:       #4399a6
*.color10:      #4399a6

! yellow
*.color3:       #c05b3e
*.color11:      #c05b3e

! blue
*.color4:       #686d99
*.color12:      #686d99

! magenta
*.color5:       #e5b840
*.color13:      #e5b840

! cyan
*.color6:       #d04f50
*.color14:      #d04f50

! white
*.color7:       #bec7c6
*.color15:      #b5d8f6



rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:e8222D32,argb:00292f37,#EBCB8B
rofi.color-normal: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#EBCB8B
rofi.color-active: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9
rofi.color-urgent: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9

rofi.font: System San Francisco Display 14
rofi.eh: 1
rofi.line-margin: 20
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 3
rofi.width: 100
rofi.padding: 200
rofi.bw: 0
rofi.show-icons: true