URxvt*scrollBar: false
URxvt*internalBorder: 10
URxvt*letterSpace: -6
URxvt*font: xft:DejaVu Mono:size=11
URxvt*fontBold: xft:DejaVu Mono:bold:size=11


URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

!URxvt.transparent: true
!URxvt.shading:       20
!URxvt*.blurRadius: 40

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! Colorscheme

! special
*.foreground:   #bec7c6
*.background:   #12171a
*.cursorColor:  #bec7c6

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3


rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:e8222D32,argb:00292f37,#EBCB8B
rofi.color-normal: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#EBCB8B
rofi.color-active: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9
rofi.color-urgent: argb:02000000,#D8DEE9,argb:02000000,argb:02000000,#D8DEE9

rofi.font: System San Francisco Display 14
rofi.eh: 1
rofi.line-margin: 20
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 3
rofi.width: 100
rofi.padding: 200
rofi.bw: 0
rofi.show-icons: true
